<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="templates.yogeshbalan.com.navigationdrawertemplate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVe" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.intent.action.ACTION_POWER_CONNECTED" />
    <uses-permission android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
    <uses-permission android:name="android.intent.action.REBOOT" />
    <uses-permission android:name="android.intent.action.SCREEN_ON" />
    <uses-permission android:name="android.intent.action.WALLPAPER_CHANGED" />

    <application
        android:name="templates.yogeshbalan.com.navigationdrawertemplatee.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Light">
        <activity
            android:name="templates.yogeshbalan.com.navigationdrawertemplatee.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="templates.yogeshbalan.com.navigationdrawertemplatee.LoginPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="templates.yogeshbalan.com.navigationdrawertemplatee.fragments.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="templates.yogeshbalan.com.navigationdrawertemplate" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.shivam.manda.TestService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name=".BootStartUpReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
